@media (min-width: 768px) {

    .routes-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}

