* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f7f3;
}

header {
    background: #1f4d36;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 2rem;
}

header h1 {
    margin: 0;
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    color: #204b2d;
}

nav ul {
    display: flex;
    gap: 2rem;

    list-style: none;
    margin: 0;
    padding: 0;

    align-items: center;
}

nav li {
    margin-bottom: .5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

nav a:hover {
    color: #9ee7ff;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 500px;

    object-fit: cover;

    border-radius: 10px;
}

.hero-text {
    position: absolute;

    bottom: 2rem;
    left: 2rem;

    color: white;

    max-width: 500px;
}

.hero-text h2 {
    color: white;

    font-size: 3rem;

    margin-bottom: .5rem;
}

.hero-text p {
    font-size: 1.2rem;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

.info-card {
    background: white;

    padding: 1.5rem;

    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.routes-grid {
    display: grid;
    gap: 1.5rem;
}

.route-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;

    box-shadow:
        0 2px 10px rgba(0,0,0,.1);
}

.route-card img {
    width: 100%;
    height: 300px;
}

.route-content {
    padding: 1rem;
}

.route-content h3 {
    margin-top: 0;
}

.map-image {
    object-fit: contain;
    background: white;
}

.card {
    background-color: #f4f8fa;
    border: 1px solid #d0d7de;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    padding: 0;
    overflow: hidden;
}

.card img {
    width: 100%;
    max-width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

input,
button,
select {
    margin-bottom: 1rem;
    padding: .5rem;
}

footer {
    background: #1f4d36;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: white;
}